os: Visual Studio 2015

install:
  - ps: Start-FileDownload 'http://downloads.dlang.org/releases/2.x/2.071.0/dmd.2.071.0.windows.zip' -FileName 'dmd2.7z'
  - 7z x dmd2.7z > nul
  - set PATH=%CD%\dmd2\windows\bin;%CD%\dmd2\windows\bin64;%PATH%
  - dmd.exe --version
  - cinst dub
  - cinst python2
  - python -m pip install --user codecov

build_script:
  - git submodule update --init --recursive
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64
  - dub test --arch=x86_64

after_test:
  - python -m codecov